
sso-a/.settings/org.eclipse.jdt.core.prefs

sso-a/.classpath

sso-a/.project

sso-a/.settings/.jsdtscope

*.prefs

*.component

sso-a/.settings/org.eclipse.wst.common.project.facet.core.xml

*.container

*.name

sso-b/.classpath

sso-b/.project

sso-b/.settings/.jsdtscope

sso-b/.settings/org.eclipse.wst.common.project.facet.core.xml

sso-client/.classpath

sso-client/.project

sso-client/.settings/org.eclipse.wst.common.project.facet.core.xml

sso-server/.classpath

sso-server/.project

sso-server/.settings/.jsdtscope

sso-server/.settings/org.eclipse.wst.common.project.facet.core.xml
